//通用样式
//表格
.el-table thead {
    color: #666 !important;
    font-size: 15px;
}

//弹框
.el-dialog {
    width: 36%;
    min-width: 500px;
}

//弹框头部
.el-dialog__header {
    background-color: #11A983 !important;
    .el-dialog__title,
    .el-dialog__close {
        color: #fff;
    }
}

//弹框内容
.el-dialog__wrapper .el-dialog__body {
    max-height: 500px;
    overflow-y: scroll;
    padding: 30px;
}

//弹框滚动条
.el-dialog__wrapper .el-dialog__body::-webkit-scrollbar {
    width: 5px;
}

.el-dialog__wrapper .el-dialog__body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(50, 50, 50, 0.2);
    background: rgba(50, 50, 50, 0.2);
}

.el-dialog__wrapper .el-dialog__body::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.el-dialog__wrapper .el-dialog__body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
    border-radius: 0;
    background: rgba(255, 255, 255, 0.5);
}

//表单
.el-form {
    width: 400px;
    margin-left: 50px;
}

// 表格上方按钮组
.toolbar-group {
    margin: 6px;
}

.toolbar-group button {
    margin-right: 1px;
}

.toolbar-group button span {
    font-size: 15px;
    color: #308275;
    font-weight: 700;
}

//页码
.el-pagination {
    margin-top: 1%;
    text-align: center;
}

//按钮组
.btnGroup {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    .el-tag {
        display: flex;
        align-items: center;
        justify-content: center;
        //width: 60px;
        margin: 1%;
    }
}

//checkbox
.el-checkbox__inner {
    border: 1px solid #303133;
}
.el-button--primary{
    border-color:#11A983 !important;
    background-color: #11A983 !important;
}